<h2 class="text-center fw-bold mb-5">Описание чая</h2>

<!--Контейнер с карточками товара-->
<div class="container text-start custom-vh" id="cardGallery">

    <div class="card flex-row">
      <img src="{{product.image}}" class="card-img-top w-25 h-25" alt="image1">
      <div class="card-body">
        <h5 class="card-title fw-bold fw-bold">{{product.title}}</h5>
        <p class="card-text fw-normal">{{product.description}}</p>
        <span class="fs-5 fw-bold text-primary me-5">Цена: {{product.price}} рублей</span>
        <a [routerLink]="['/product', product.id]" class="btn btn-primary w-25" (click)="addToCart(product)">Купить</a>
      </div>
    </div>
</div>
