<div class="container-fluid p-0">

  <!--Контейнер со слайдером -->
  <div class="container">
    <div class="single-item mt-3 mx-auto d-flex">
      <img class="slider-img w-100" src="./assets/images/slider-tea3.png" alt="tea3">
    </div>
  </div>

  <h2 class="text-center fw-bold mt-3 mb-5">Ответы на часто задаваемые вопросы</h2>

  <!--Контейнер с аккардионом-->

  <div class="container d-flex justify-content-center">
    <div class="accordion w-75" id="accordionPanelsStayOpenExample">
      <ngb-accordion #acc="ngbAccordion" activeIds="panelsStayOpen-collapseOne">
        <ngb-panel id="panelsStayOpen-collapseOne" title="Собираете ли вы подарочные боксы?">
          <ng-template ngbPanelContent>
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </ng-template>
        </ngb-panel>
        <ngb-panel id="panelsStayOpen-collapseTwo" title="Сколько у вас разновидностей чая?">
          <ng-template ngbPanelContent>
            Существует 6 основных сортов чая: зеленый, белый, желтый, улун, черный и пуэр.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="panelsStayOpen-collapseThree" title="В какой срок осуществляется доставка?">
          <ng-template ngbPanelContent>
            Средний срок доставки: от 1 до 3 дней после оформления заказа.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="panelsStayOpen-collapseFour" title="У вас обновляется ассортимент?">
          <ng-template ngbPanelContent>
            Да конечно! Каждый месяц новые поступления.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="panelsStayOpen-collapseFive" title="Какого объема у вас пачки чая?">
          <ng-template ngbPanelContent>
            Вес пачки 100, 200 а так же 500 гр.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
<!--  <div class="container d-flex justify-content-center">-->

<!--    <div class="accordion w-75" id="accordionPanelsStayOpenExample">-->
<!--      <div class="accordion-item border-0">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button collapsed bg-primary bg-gradient text-light rounded-3  fw-bold d-flex mb-3"-->
<!--                  style="height: 68px;" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"-->
<!--                  aria-controls="panelsStayOpen-collapseOne">-->
<!--            Собираете ли вы подарочные боксы?-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">-->
<!--          <div class="accordion-body ">-->
<!--            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item border-0">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button collapsed bg-primary bg-gradient text-light rounded-3  fw-bold d-flex mb-3"-->
<!--                  style="height: 68px;" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"-->
<!--                  aria-controls="panelsStayOpen-collapseTwo">-->
<!--            Сколько у вас разновидностей чая?-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            Существует 6 основных сортов чая: зеленый, белый, желтый, улун, черный и пуэр.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item border-0">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button collapsed bg-primary bg-gradient text-light rounded-3  fw-bold d-flex mb-3"-->
<!--                  style="height: 68px;" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"-->
<!--                  aria-controls="panelsStayOpen-collapseThree">-->
<!--            В какой срок осуществляется доставка?-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            Средний срок доставки: от 1 до 3 дней после оформления заказа.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item border-0">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button collapsed bg-primary bg-gradient text-light rounded-3  fw-bold d-flex mb-3"-->
<!--                  style="height: 68px;" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"-->
<!--                  aria-controls="panelsStayOpen-collapseThree">-->
<!--            У вас обновляется ассортимент?-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            Да конечно! Каждый месяц новые поступления.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item border-0">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button collapsed bg-primary bg-gradient text-light rounded-3  fw-bold d-flex mb-3"-->
<!--                  style="height: 68px;" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"-->
<!--                  aria-controls="panelsStayOpen-collapseThree">-->
<!--            Какого объема у вас пачки чая?-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            Вес пачки 100,200 а так же 500 гр.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <ng-template #popup>
    <div class="" tabindex="-1" id="myModal" by="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Посмотрите наши чайные коллекции</h5>
          </div>
          <div class="modal-footer">
            <button (click)="navigateToCatalog()" class="btn btn-primary">Смотреть</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
